<div class="blogs-content">
  <div class="blogs">
    <ng-container *ngFor="let blog of blogs | async">
      <div class="blog">
        <img
          [attr.height]="blog.image.height"
          [attr.src]="blog.image.src"
          [attr.width]="blog.image.width"
          alt="" />
        <div class="blog-text">
          <div class="meta mb-1">
            <span class="date">Published 5 months ago</span
            ><span class="time">15 min read</span
            ><span class="comment"><a href="#">3 comments</a></span>
          </div>
          <h4>{{ blog.title }}</h4>
          <p>
            {{ blog.content }}
          </p>
          <button (click)="goToBlog(blog)">Read more &rarr;</button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
