<!-- blog-card.component.html -->
<div class="wrapper">
  <ng-container *ngFor="let blog of blogs | async">
    <div class="card">
      <div class="card-banner">
        <div class="card-profile">
          <img class="profile-img"
               [attr.height]="blog.image.height"
               [attr.src]="blog.author.avatar"
               [attr.width]="blog.image.width"
               alt=""
          />
          <div class="card-profile-info">
            <h3 class="profile-name">{{ blog.author.name }}</h3>
            <p class="profile-followers">{{ blog.date }}</p>
          </div>
        </div>
        <div class="banner-img">
          <img [attr.height]="blog.image.height"
               [attr.src]="blog.image.src"
               [attr.width]="blog.image.width"
               alt=""
          />
          <a href="#" class="card-banner-icon">
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </a>
        </div>
        <p class="category-tag technology">Popular</p>
      </div>



      <div class="card-body">
        <div class="projcard-tagbox">
          <span class="projcard-tag">HTML</span>
          <span class="projcard-tag">CSS</span>
        </div>
        <p class="blog-hashtag">#Horin, #Apij, #skhkdshs</p>
        <h2 class="blog-title">{{ blog.title }}</h2>
        <div class="bar"></div>
        <p class="blog-description"> {{ blog.content }}</p>

      </div>
    </div>
  </ng-container>
</div>
