<div class="controls">
  <div
    (click)="navigateToHome()"
    [class.active-btn]="selectedTab === 'home'"
    class="control active-btn"
    data-id="home">
    <i class="fas fa-home"></i>
  </div>
  <div
    (click)="navigateToAbout()"
    [class.active-btn]="selectedTab === 'about'"
    class="control"
    data-id="about">
    <i class="fas fa-user"></i>
  </div>
  <div
    (click)="navigateToPortfolio()"
    [class.active-btn]="selectedTab === 'portfolio'"
    class="control"
    data-id="portfolio">
    <i class="fas fa-briefcase"></i>
  </div>
  <div
    (click)="navigateToBlogs()"
    [class.active-btn]="selectedTab === 'blogs'"
    class="control"
    data-id="blogs">
    <i class="far fa-newspaper"></i>
  </div>
  <div
    (click)="navigateToContact()"
    [class.active-btn]="selectedTab === 'contact'"
    class="control"
    data-id="contact">
    <i class="fas fa-envelope-open"></i>
  </div>
</div>
