<section class="container active" id="portfolio">
  <div class="main-title">
    <h2>My <span>Portfolio</span><span class="bg-text">My Work</span></h2>
  </div>
  <p class="port-text">
    Here is some of my work that I've done in various programming languages.
  </p>
  <div class="portfolios">
    <div class="portfolio-item">
      <div class="image">
        <img alt="" height="466" ngSrc="/assets/images/port1.jpg" width="700" />
      </div>
      <div class="hover-items">
        <h3>Project Source</h3>
        <div class="icons">
          <a class="icon" href="#">
            <i class="fab fa-github"></i>
          </a>
          <a class="icon" href="#">
            <i class="fab fa-behance"></i>
          </a>
          <a class="icon" href="#">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="portfolio-item">
      <div class="image">
        <img alt="" height="466" ngSrc="/assets/images/port2.jpg" width="700" />
      </div>
      <div class="hover-items">
        <h3>Project Source</h3>
        <div class="icons">
          <a class="icon" href="#">
            <i class="fab fa-github"></i>
          </a>
          <a class="icon" href="#">
            <i class="fab fa-behance"></i>
          </a>
          <a class="icon" href="#">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="portfolio-item">
      <div class="image">
        <img alt="" height="400" ngSrc="/assets/images/port3.jpg" width="600" />
      </div>
      <div class="hover-items">
        <h3>Project Source</h3>
        <div class="icons">
          <a class="icon" href="#">
            <i class="fab fa-github"></i>
          </a>
          <a class="icon" href="#">
            <i class="fab fa-behance"></i>
          </a>
          <a class="icon" href="#">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="portfolio-item">
      <div class="image">
        <img alt="" src="/assets/images/port4.jpg" />
      </div>
      <div class="hover-items">
        <h3>Project Source</h3>
        <div class="icons">
          <a class="icon" href="#">
            <i class="fab fa-github"></i>
          </a>
          <a class="icon" href="#">
            <i class="fab fa-behance"></i>
          </a>
          <a class="icon" href="#">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="portfolio-item">
      <div class="image">
        <img alt="" src="/assets/images/port5.jpg" />
      </div>
      <div class="hover-items">
        <h3>Project Source</h3>
        <div class="icons">
          <a class="icon" href="#">
            <i class="fab fa-github"></i>
          </a>
          <a class="icon" href="#">
            <i class="fab fa-behance"></i>
          </a>
          <a class="icon" href="#">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="portfolio-item">
      <div class="image">
        <img alt="" src="/assets/images/port2.jpg" />
      </div>
      <div class="hover-items">
        <h3>Project Source</h3>
        <div class="icons">
          <a class="icon" href="#">
            <i class="fab fa-github"></i>
          </a>
          <a class="icon" href="#">
            <i class="fab fa-behance"></i>
          </a>
          <a class="icon" href="#">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="portfolio-item">
      <div class="image">
        <img alt="" src="/assets/images/port7.jpg" />
      </div>
      <div class="hover-items">
        <h3>Project Source</h3>
        <div class="icons">
          <a class="icon" href="#">
            <i class="fab fa-github"></i>
          </a>
          <a class="icon" href="#">
            <i class="fab fa-behance"></i>
          </a>
          <a class="icon" href="#">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
