<div class="right-about">
  <div class="about-item">
    <div class="abt-text">
      <p class="large-text">650+</p>
      <p class="small-text">
        Projects <br />
        Completed
      </p>
    </div>
  </div>
  <div class="about-item">
    <div class="abt-text">
      <p class="large-text">10+</p>
      <p class="small-text">
        Years of <br />
        experience
      </p>
    </div>
  </div>
  <div class="about-item">
    <div class="abt-text">
      <p class="large-text">300+</p>
      <p class="small-text">
        Happy <br />
        Clients
      </p>
    </div>
  </div>
  <div class="about-item">
    <div class="abt-text">
      <p class="large-text">400+</p>
      <p class="small-text">
        Customer <br />
        reviews
      </p>
    </div>
  </div>
</div>
