<ng-container *transloco="let t; read: i18nPath">
  <section class="blog-container about active" id="about">
    <app-main-title [i18nPath]="i18nPath"></app-main-title>
    <div class="about-container">
      <div class="left-about">
        <h4>{{ t('title') }}</h4>
        <p>
          {{ t('infos') }}
        </p>
        <app-resume-downloader [i18nPath]="i18nPath"></app-resume-downloader>
      </div>
      <app-right-about [i18nPath]="i18nPath"></app-right-about>
    </div>
    <app-about-stats [i18nPath]="i18nPath"></app-about-stats>
    <app-timeline [i18nPath]="i18nPath"></app-timeline>
  </section>
</ng-container>
