<ng-container *transloco="let t; read: i18nPath">
  <div class="container header active" id="home">
    <div class="header-content">
      <div class="left-header">
        <div class="h-shape"></div>
        <div class="image">
          <img
            alt=""
            height="472"
            ngSrc="/assets/images/amin.png"
            width="456" />
        </div>
      </div>
      <div class="right-header">
        <h1 class="name">
          {{ t('greetings') }} <span> {{ t('name') }}</span>
          <p>
            {{ t('developer') }}
          </p>
        </h1>
        <p>
          {{ t('description') }}
          I'm a Web Developer, I love to create beautiful and functional
          websites. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Officia, libero? Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Neque blanditiis sed aut!
        </p>
        <app-resume-downloader></app-resume-downloader>
      </div>
    </div>
  </div>
</ng-container>
