<ng-container *transloco="let t; read: i18nPath">
  <div class="blog-container header active" id="home">
    <div class="header-content">
      <div class="left-header">
        <div class="h-shape"></div>
        <div class="image">
          <img
            alt=""
            height="472"
            ngSrc="/assets/images/amin.png"
            width="456" />
        </div>
      </div>
      <div class="right-header">
        <h1 class="name">
          {{ t('greetings') }} <span> {{ t('name') }}</span>
          <p>
            {{ t('developer') }}
          </p>
        </h1>
        <p>
          {{ t('description') }}
        </p>
        <app-resume-downloader [i18nPath]="i18nPath"></app-resume-downloader>
      </div>
    </div>
  </div>
</ng-container>
